{% extends 'layout.twig' %}
{% block title %} {{naslov}} {% endblock %}

{% block stil %} 

<link rel="stylesheet" href="src/Styles/administrator_logovanje.css" type="text/css">
                 
{% endblock %}

{% block placeholder %}{{placeholder}}{% endblock %}
{% block pretraga %}{{pretraga}}{% endblock %}

{% block content %}

<div class="container" id="glavna_strana">
    <div class="jumbotron">
        <h4>{{logovanje}}</h4>
        <div class="container" id="forma">
            <form action="" id="forma_sadrzaj" method="post">
                <div class="form-group">
                    <label for="administrator_ime">{{admin_ime}}</label>
                    <input type="text" id="administrator_ime" name="administrator_ime" class="form-control">
                </div>
                <div class="form-group">
                    <label for="administrator_lozinka">{{admin_lozinka}}</label>
                    <input type="password" id="administrator_lozinka" name="administrator_lozinka" class="form-control">
                </div>
               
                <button type="submit" id="prosledi" class="btn btn-primary">{{prosledi}}</button>
            </form>
        </div>
        <a id="link" href="administrator_registracija">{{nema_admina}}</a>
        <div class="container">
            <p id="load"></p>
        </div>
    </div>
</div>
<script type="text/javascript">
let prazna_polja = '{{prazna_polja}}';
</script>
<script src="/../src/javascript/administrator_logovanje.js" type="text/javascript"></script>

{% endblock %}
