{% extends 'layout.twig' %}
{% block title %} {{naslov}} {% endblock %}

{% block stil %} 
<link rel="stylesheet" href="/src/Styles/administrator_prikaz_preduzeca.css" type="text/css">
{% endblock %}

{% block link %}

<a href="/administrator_logout" class="nav-item nav-link">{{odjava}}</a>
<a href="/pocetna_strana_administratora" class="nav-item nav-link">{{nazad}}</a>

            
{% endblock %}
{% block placeholder %}{{placeholder}}{% endblock %}
{% block pretraga %}{{pretraga}}{% endblock %}

{% block content %}
<div class="jumbotron jumbotron-fluid" style="text-align:center;">
    <h3>{{naslov}}</h3>
</div>
<div class="container" id="glavni" style="text-align:center;">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>{{id}}</th>
                <th>{{naziv}}</th>
                <th>{{maticni}}</th>
                <th>{{sifra_drustva}}</th>
                <th>{{email_prikaz_preduezca}}</th>
                <th>{{obrisi}}</th>
            </tr>
        </thead>
        <tbody>
        {% for item in preduzeca %}
            <tr id="{{item['id']}}">
                <td>{{item["id"]}}</td>
                <td>{{item["naziv"]}}</td>
                <td>{{item["maticni_broj"]}}</td>
                <td>{{item["sifra_privrednog_drustva"]}}</td>
                <td>{{item["email"]}}</td>
                <td><div id="akcija-{{item['id']}}"><button type="button" id="button-{{item['id']}}"class="btn btn-primary" onclick="izbrisi_preduzece({{item['id']}});">{{obrisi}}</button></div></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div class="container" id="prikaz_mali_uredjaji">
    {% for item in preduzeca %}
        
        <div class="container" id="{{item['id']}}-manji">
            <hr>
            <p><strong>{{id}} </strong>{{item["id"]}}</p>
            <p><strong>{{naziv}} </strong>{{item["naziv"]}}</p>
            <p><strong>{{maticni}} </strong>{{item["maticni_broj"]}}</p>
            <p><strong>{{sifra_drustva}} </strong>{{item["sifra_privrednog_drustva"]}}</p>
            <p><strong>{{email_prikaz_preduezca}} </strong>{{item["email"]}}</p>
            <p><div><button type="button" class="btn btn-primary" onclick="izbrisi_preduzece({{item['id']}});">{{obrisi}}</button></div></p>
            <hr>
        </div>
        
    {% endfor %}
</div>
<script type="text/javascript">
let greska = '{{greska}}';
</script>
<script src="/../src/javascript/administrator_prikaz_preduzeca.js" type="text/javascript"></script>

{% endblock %}